<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SharePointLogViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <SharePointLogViewer.Properties.Settings>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Right" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>950</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LiveLimit" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Columns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Timestamp</string>
                        <string>Process</string>
                        <string>TID</string>
                        <string>Area</string>
                        <string>Category</string>
                        <string>EventID</string>
                        <string>Level</string>
                        <string>Message</string>
                        <string>Correlation</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="HideToSystemTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSystemTrayNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableEmailNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableEventLogNotifications" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailSenders" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailRecepients" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSmtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="HonourFilters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinimumSeverity" serializeAs="String">
                <value>Information</value>
            </setting>
            <setting name="LastDirectory" serializeAs="String">
                <value />
            </setting>
        </SharePointLogViewer.Properties.Settings>
    </userSettings>
</configuration>
